:root {
  --bs-primary: #c42a6b;
  --bs-primary-rgb: 196, 42, 107;
  --bs-link-color: #c42a6b;
  --bs-link-hover-color: #a82058;
  --bs-focus-ring-color: rgba(196, 42, 107, 0.25);
  --bs-border-radius: 8px;
}

/* Toast de Alerta */
.toast {
  background-color: #c8374d !important;
  color: #fff !important;
  border: 0 !important;
}
.toast-body { color: #fff !important; }